.CharactersContainer {
    margin: 80px auto;
    width: 75%;
}

.CharactersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2vh;
}

.CharactersContainer .CharacterCard {
    text-align: center;
}

.CharactersContainer img {
    max-width: 200px;
}
