.Characters img {
    max-height: 50px;
}

.Characters ul {
    list-style: none;
    width: 75%;
    margin: 0 auto;
}

.Characters a {
    text-decoration: none;
}

.Characters li {
    padding: 5px 10px;
    margin-bottom: 15px;
    transition: background-color .3s;
}

.Characters li:hover {
    background-color: #fafd7c;
    border-radius: 5px;
    cursor: pointer;
}

.Characters a span {
    font-size: 1.5em;
    color: #24325fff;
    margin-left: 20px;
}
