.CharacterDetails {
    width: 75%;
    margin: 80px auto;
    color: #24325fff;
    font-size: 25px;
}

.CharacterDetails .CharacterEpisodes {
   margin-top: 15px;
}

.CharacterDetails .Row {
    display: flex;
}

.CharacterDetails img {
    max-height: 300px;
}

.CharacterDetails ul {
    list-style: none;
}