.CharacterDetails {
    display: flex;
    width: 75%;
    margin: 15px auto;
}

.CharacterDetails img {
    max-height: 300px;
}

.CharacterDetails ul {
    list-style: none;
    font-size: 25px;
    color: #24325fff;
}