.Episodes {
    width: 75%;
    margin: 15px auto;
}

.Episodes a {
    text-decoration: none;
}

.EpisodeItem {
    display: flex;
    margin-bottom: 15px;
    padding: 5px 15px;
}

.EpisodeItem:hover {
    background-color: #fafd7c;
    border-radius: 5px;
    cursor: pointer;
}

.EpisodeItem span {
    color: #24325fff;
    font-size: 1.5em;
    margin-right: 15px;
}