.Locations {
    width: 75%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.Locations td {
    padding: 5px 10px;
}

.Locations table {
    border: none;
    border-collapse: collapse;
}

.Locations table a {
    color: #24325fff;
    font-size: 1.5em;
    text-decoration: none;
}

.Locations tr:hover {
    transition: .3s;
    background-color: #24325fff;
    color: #fafd7cff;;
    cursor: pointer;
}