.Locations {
    width: 75%;
    margin: 20px auto;
}

.Locations a {
    text-decoration: none;
}

.LocationItem {
    display: flex;
    margin-bottom: 15px;
    padding: 5px 15px;
}

.LocationItem:hover {
    background-color: #fafd7c;
    border-radius: 5px;
    cursor: pointer;
}

.LocationItem span {
    color: #24325fff;
    font-size: 1.5em;
    margin-right: 15px;
}